    <h1>Song ID :<%= @song['SongID']%></h1>
    <h1>Artist :<%= @song['ArtistName']%></h1>
    <h1>Song : <%= @song['SongName']%></h1>
    <h1>Album : <%= @song['AlbumName']%></h1>
    </br>
	<%= @song['Song_Widget']%>


